._6k_ .img{margin:0;position:absolute}
.sp_BEd28m4zjRY{background-image:url(/rsrc.php/v3/ym/r/WyAq9dxISn0.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_BEd28m4zjRY.sx_a8f42c{background-position:0 0}.sp_BEd28m4zjRY.sx_134357{background-position:0 -21px}

#bootloader_khhNL{height:42px;}.bootloader_khhNL{display:block!important;}